/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 23/04/2018, 03:59:59 PM
    Author     : User01
*/



.tamaño{
   font-size: 2px;
}
.zuci{
 margin-left: 90%;
  }
  .btn1{
    border: 3px blue dashed;
    background-color: #000;
  }
.contono{
  border-radius: 40px;
  background: #203764;
}
.letra{
  color:  #fff;
  margin-left: 10px;
}
.letra2{
  background: #bfbfbf;
  margin-left: 20px;
  margin-top: 3px;
}
.letra3{
  background: #E6E6E6;
  margin-left: 20px;
  margin-top: 3px;
}
<<<<<<< HEAD
.letra4{
  background: #E6E6E6;
  margin-top: 3px;
}
=======
>>>>>>> 8f4e320ea0510daec4932c459c7ba8e038e10003
.center{
  text-align: center;
}

.alinear{

  text-align: justify;
  text-align: left;
}

.tamano{
  font-size: 20px;
}

.ta{
 width: -100px;
}
.conte{
  margin-left: 30px;
  }
.blanco{
  color: #000;
}
.color1{
  color: #eaeaea;
}
.color{
  background: #f8f8f8;
  text-align: center;
  -webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 05px;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 50px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 05px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 50px;
border-top-left-radius: 10px;
border-top-right-radius: 05px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 50px;
}
.color:hover {
    background-color: #b5b5b5;
    /* font-size: 105%; */

}
.color2{
  background: #f8f8f8;
  text-align: center;
  -webkit-border-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-top-left-radius: 05px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-rigt-radius: 50px;
  -moz-border-radius: 10px;
  -moz-border-radius-bottomright: 100px;
  border-radius: 10px;
  border-bottom-right-radius: 100px;
}
.color2:hover {
    background-color: #b5b5b5;
    /* font-size: 105%; */

}
.border{
  -webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 05px;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 50px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 05px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 50px;
border-top-left-radius: 10px;
border-top-right-radius: 05px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 50px;
}


.button{
	padding: 10px 35px;
	overflow:hidden;
}
.button:before {
	font-family: FontAwesome;
	content:"\f07a";
	position: absolute;
	top: 11px;
	left: -30px;
	transition: all 200ms ease;
}
.button:hover:before {
	left: 7px;
}

.logoinicio{
  width: 350px;
  height: auto;
  image-resolution: from-image;
  text-align: left;

}
.texto{
  text-align:center;
  margin-top: 30px;
}
.margen{
  margin-top: -30px;
}
.blanco{
  color:#fff;
}
.button:before {
	font-family: FontAwesome;
	content:"\f07a";
	position: absolute;
	top: 11px;
	left: -30px;
	transition: all 200ms ease;
}
.button:hover:before {
	left: 7px;
}
.modalcolor{
  background-color:#003366;
}
.letracolor{
  color: #fff;
}
.alert-danger{
  background: red;
}
.blanco{
  color:#fff;
}
